<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
          <div class="card-header text-xs-center">
            <h4 style="display: inline; margin-left: 10px;">Usuários</h4>
              <i class="fa fa-user-plus" aria-hidden="true" style="float: right; position: relative; top: 5px;" ng-click="new()"></i>
          </div>
          <div class="card-block">
            <div class="card-text">
              <div class="list-group">
                <a ng-click="view()" class="list-group-item">
                  <span class="label label-warning label-pill pull-right">admin</span>
                  Yellow
                </a>
                <a ng-click="view()" class="list-group-item">
                  Rihanna
                </a>
                <a ng-click="view()" class="list-group-item">
                  Mika
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>