<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
          <div class="card-header text-xs-center">
            <h4 style="display: inline">Usuário: Yellow</h4>
            <span class="label label-warning label-pill pull-right" style="float: right">admin</span>
          </div>
          <div class="card-block">
            <div class="card-text">
              <ul class="list-group">
                <li ng-if="false" class="list-group-item">
                  <p style="display: inline; position: relative; top: -5px;">admin</p>
                  <switch id="enabled" name="enabled" ng-model="admin" class="blue" style="position: relative; top: 5px;"></switch>
                </li>
                <li class="list-group-item">
                  <label for="inputEmail" class="sr-only">Login</label>
                  <input type="text" ng-model="user.username" id="inputEmail" class="form-control" placeholder="Login" required autofocus>
                </li>
                <li class="list-group-item">
                  <label for="inputNome" class="sr-only">Nome</label>
                  <input type="text" ng-model="user.nome" id="inputNome" class="form-control" placeholder="Login" required autofocus>
                </li>
                <li class="list-group-item">
                  <h5>Permissões</h5>
                  <div ng-repeat="permissao in permissoes">
                    <input type="checkbox" ng-model="hasPermissao(permissao.id)" ng-click="togglePermissao(permissao.id)" /> <label>{{permissao.nome}} (Sistema: {{permissao.sistemaExterno}})</label> <br/>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-footer text-muted">
              <a ng-click="save()" class="btn btn-primary">Salvar</a>
              <a ng-click="back()" class="btn btn-secondary">Cancelar</a>
            </div>
          </div>
        </div>
    </div>
</div>