<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="autodomun" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="autodomun" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="autodomun" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="autodomun" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Autodomum</title>
  
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angular-ui-switch/angular-ui-switch.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <link rel='stylesheet' href='bower_components/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />

  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="css/loading.css">
  <link rel="stylesheet" href="css/checkbox.css">

  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <nav ng-controller="IndexController"
       class="navbar navbar-fixed-top navbar-dark bg-inverse text-xs-center">
    <i class="fa fa-home" ng-hide="isLoginPage()" aria-hidden="true" style="float: left;font-size: 2em;cursor:pointer;top: 0.3em;position: relative;" ng-click="home()"></i>
    <i class="fa fa-sign-out" ng-hide="isLoginPage()" aria-hidden="true" style="float: right;font-size: 2em;cursor:pointer;top: 0.3em;position: relative;" ng-click="logout()"></i>
    <img src="images/logo.png" style="width: 186px; margin-left: -32px;">
  </nav>

  <div class="container" ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-ui-switch/angular-ui-switch.js"></script>
  <script src="bower_components/angular-i18n/angular-locale_pt-br.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src='bower_components/angular-animate/angular-animate.min.js'></script>
  <script src='bower_components/angular-loading-bar/build/loading-bar.min.js'></script>

  <script src="app.js"></script>
  <script src="index.js"></script>
  
  <script src="features/login/login.js"></script>
  <script src="features/menu/menu.js"></script>
  <script src="features/garden/garden.js"></script>
  <script src="features/audio/audio.js"></script>
  <script src="features/audio/artista.js"></script>
  <script src="features/clothes-line/clothes-line.js"></script>
  <script src="features/profiles/profiles.js"></script>
  <script src="features/profiles/profile.js"></script>
  <script src="features/profiles/new-profile.js"></script>
  
  
  <script src="services/weather.js"></script>
  <script src="services/user.js"></script>
  <script src="services/permission.js"></script>
  <script src="services/awning.js"></script>
  <script src="services/preferencia.js"></script>

  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="components/weather-icon/weather-icon.js"></script>
</body>
</html>
