<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 text-xs-center">
        <h3>Olá, Amarelinho</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Jardim</h4>
            <p class="card-text">Não esqueça de dar adubo!</p>
          </div>
          <div class="card-footer text-muted">
            <a ng-click="garden()" class="btn btn-primary">Mais Detalhes</a>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Áudio</h4>
            <p class="card-text">Ligado tocando Mika - Relax Take it Easy</p>
          </div>
          <div class="card-footer text-muted">
            <a ng-click="audio()" class="btn btn-primary">Mais Detalhes</a>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Varal</h4>
            <p class="card-text">Fechado protegendo suas roupas</p>
          </div>
          <div class="card-footer text-muted">
            <a ng-click="clothesLine()" class="btn btn-primary">Mais Detalhes</a>
          </div>
        </div>
    </div>
</div>

