<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
          <div class="card-header text-xs-center">
            <h4>Jardim</h4>
          </div>
          <div class="card-block">
            <div class="card-text text-xs-center">
                <weather-icon cloudiness="{{ weather.clouds }}"></weather-icon>
                <h5 style="display:inline">{{today | date:'d, MMMM'}}, {{ weather.temp.current | temp:2 }}</h5>
                <p>min: {{ weather.temp.min | temp }}, max: {{ weather.temp.max | temp }}</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <span class="label label-default label-pill pull-xs-right">neutro</span>
                Umidade: 70%
              </li>
      			  <li class="list-group-item">
                      <span class="label label-default label-pill pull-xs-right">neutro</span>
                      Temperatura: 17ºC
                    </li>
                    <li class="list-group-item">
      				<center>
      					<h5>Registro diário de temperatura e umidade</h5>
      					<img class="graphic" src="images/garden-graph.png" />
      				</center>
      				<p>Gráfico referente às médias diárias de temperatura e umidade dos últimos 5 dias.</p>
      			  </li>
            </ul>

            <br/>

            <div class="card">
              <div class="card-header text-xs-center">
                <h4>Controles do Toldo</h4>
              </div>
              <div class="card-block">
                <div class="card-text text-xs-center">
                    <p style="display: inline; position: relative; top: -5px;">Desligado</p>
                    <switch id="enabled" name="enabled" ng-model="awningCommand.automatico" class="blue"></switch>
                    <p style="display: inline; position: relative; top: -5px; left: 10px;">Ligado</p>

                    <br/>
                    
                    <p style="display: inline; position: relative; top: -5px;">Recolhido</p>
                    <switch id="enabled" name="enabled" ng-model="awningCommand.estendido" class="blue" ></switch>
                    <p style="display: inline; position: relative; top: -5px; left: 10px;">Estendido</p>
                </div>
              </div>
              <div class="card-footer text-muted">
                <a ng-click="changeAwningState()" class="btn btn-primary">Executar ação</a>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            <a ng-click="back()" class="btn btn-secondary">Voltar</a>
          </div>
        </div>
    </div>
</div>