<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 text-xs-center">
        <h3>Olá, {{user.nome}}!</h3>
    </div>
</div>
<div ng-if="false" class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Jardim</h4>
            <p class="card-text">Cuidando de suas plantas!</p>
          </div>
          <div class="card-footer text-muted">
            <a ng-click="garden()" class="btn btn-primary">Mais Detalhes</a>
          </div>
        </div>
    </div>
</div>
<div ng-if="false" class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Áudio</h4>
            <p class="card-text">ON Tocando Mika - Relax Take it Easy</p>
          </div>
          <div class="card-footer text-muted">
            <a ng-click="audio()" class="btn btn-primary">Mais Detalhes</a>
          </div>
        </div>
    </div>
</div>
<div ng-if="hasPermissao(4)" class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Varal</h4>
            <p class="card-text">Fechado protegendo suas roupas!</p>
          </div>
          <div class="card-footer text-muted">
            <a ng-click="clothesLine()" class="btn btn-primary">Mais Detalhes</a>
          </div>
        </div>
    </div>
</div>
<div ng-if="hasPermissao(1)" class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Controle de Perfis</h4>
            <p class="card-text">Veja todos os usuários do sistema!</p>
          </div>
          <div class="card-footer text-muted">
            <a ng-click="profiles()" class="btn btn-primary">Mais Detalhes</a>
          </div>
        </div>
    </div>
</div>

