<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
          <div class="card-header text-xs-center">
            <h4>Varal</h4>
          </div>
          <div class="card-block">
            <div class="card-text text-xs-center">
                <weather-icon cloudiness="{{ weather.clouds }}"></weather-icon>
                <h5 style="display:inline">{{today | date:'d MMM'}}, {{ weather.temp.current | temp:2 }}</h5>
                <p>min: {{ weather.temp.min | temp }}, max: {{ weather.temp.max | temp }}</p>

                <h5>Histórico</h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-xs-center">Automático</th>
                      <th class="text-xs-center">Estado</th>
                      <th class="text-xs-center">Dia e Horário</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="register in history">
                    <tr>
                      <td>{{register.automatico? "Sim" : "Não"}}</td>
                      <td>{{register.estendido? "Estendido" : "Recolhido"}}</td>
                      <td>{{showDateInLocalTimezone(register.data) | date:'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                  </tbody>
                </table>
                
                <div class="card">
                  <div class="card-header text-xs-center">
                    <h4>Painel de Controles</h4>
                  </div>
                  <div class="card-block">
                    <div class="card-text text-xs-center">
                        <p style="display: inline; position: relative; top: -5px;">Desligado</p>
                        <switch id="enabled" name="enabled" ng-model="command.automatico" class="blue"></switch>
                        <p style="display: inline; position: relative; top: -5px; left: 10px;">Ligado</p>

                        <br/>
                        
                        <p style="display: inline; position: relative; top: -5px;">Recolhido</p>
                        <switch id="enabled" name="enabled" ng-model="command.estendido" class="blue" ></switch>
                        <p style="display: inline; position: relative; top: -5px; left: 10px;">Estendido</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            <a ng-click="changeState()" class="btn btn-primary">Executar ação</a>
            <a ng-click="back()" class="btn btn-secondary">Voltar</a>
          </div>
        </div>
    </div>
</div>