/* app css stylesheet */

body {
    background-color: #eee;
    padding-bottom: 40px;
    padding-top: 40px;
}

.container {
   padding-top: 60px; 
}

.bg-primary {
    color: #fff !important;
    background-color: #F9A825 !important;
}

.navbar-toggler {
    margin-top: 6px;
}

img {
    width: 100%;
    height: auto;
}

/** Components **/
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus,
.btn-primary.disabled:hover,
.btn-primary:disabled:hover {
    color: #373a3c;
    background-color: #FDD835 !important;
    border-color: #FDD835 !important;
}

.switch.checked {
    background-color: #FDD835;
    border-color: #FDD835;   
}

/** Form **/
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin input:last-child {
    border-radius: .25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}